body {
  background-color: #dadfed;
}

#content {
  padding: 0 !important;
  /* display: flex; */
  /* flex-direction: column; */
}

#visualizer {
  background-color: #c8ccc9;
  position: absolute;
  right: 0;
  top: 0;
}

.label {
  width: 100%;
  margin-bottom: 0;
}

li {
  cursor: pointer !important;
}

#log {
  padding: 4% 4%;
  height: 250px;
}
.title {
  margin-bottom: 0 !important;
  background-color: #5f6f99;
}
.P {
  color: #333333;
}
