body {
    background-color: #dadfed;
}
#content{
    padding: 0 !important;
}
.label{
    width: 100%;
    margin-bottom: 0;

}
.label {
    cursor: pointer !important;
  }
#log {
    padding: 4% 4%;
}
.title {
    margin-bottom: 0 !important;
    background-color: #5f6f99;
}
.P{
    color: #333333;
}

#axises {
    position: fixed;
    bottom: 20px;
    left: 250px;
}